@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

// fonts
$font-family-primary: 'Karla';
$font-family-secondary: 'Rubik';

// colors
$primary-color: #3855c7;